.carrousel {

    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 30px;

    .currentSlide {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .arrowLeft {
        position: absolute;
        height: 120px;
        left: 20px;
        top: 35%;
    }

    .arrowRight {
        position: absolute;
        height: 120px;
        right: 20px;
        top: 35%;
    }

}