.header {
    width: auto;
    display: flex;
    justify-content: space-between;

    ul {
        width: 300px;
        display: flex;
        justify-content: space-around;
        
        a {
            text-decoration: none;
        }
    }
}