.locationContainer {
    max-width: 1240px;
    margin : 0 20px;
}

.informations {

    font-family: Montserrat;
    display: flex;
    justify-content: space-between;

    .infoLocation {

        // display: flex;
        // flex-direction: column;
        // gap: 10px;

        h2 {
            margin: 5px 0;
            font-weight: 500;
            color: $color-main;
            size: 36px;
        }
        h3 {
            size: 18px;
            font-weight: 500;
        }
    
        .tagContainer {
            margin: 10px 0;
            display: flex;
            gap: 10px;
        
            .tag {
                background-color: $color-main;
                color: $color-on-main;
                border-radius: 10px;
                padding: 5px 20px;
                size: 18px;
                font-weight: 800;
            }
        }
    }
    
    .profil {
        
        .host {
            display: flex;

            h3 {
                color : $color-main;
                size: 18px;
                font-weight: 500;
            }
            img {
                width: 64px;
                border-radius: 50%;
            }
        }
        
        .review {
            width: 200px;
            height: 40px;
    
            .star {
                width: 28px;
                height: 28px;
            }
        }
    }
}

.locationDescription {

    margin-top: 30px;
    display: flex;
    gap : 20px
}