.locationContainer {
    max-width: 1240px;
    margin : auto;

    @media screen and (max-width: 1240px) {
        margin: 20px;
      }
}

.informations {

    font-family: Montserrat;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
      }

    .infoLocation {

        // display: flex;
        // flex-direction: column;
        // gap: 10px;

        h2 {
            margin: 5px 0;
            font-weight: 500;
            color: $color-main;
            size: 36px;
        }
        h3 {
            size: 18px;
            font-weight: 500;
        }
    
        .tagContainer {
            margin: 10px 0;
            display: flex;
            gap: 10px;
        
            .tag {
                background-color: $color-main;
                color: $color-on-main;
                border-radius: 10px;
                padding: 5px 20px;
                size: 18px;
                font-weight: 800;
            }
        }
    }
    
    .profil {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;

        @media screen and (max-width: 768px) {
            margin-top: 20px;
            flex-direction:row-reverse;
            justify-content: space-between;
            align-items: center;
          }
        
        .host {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            h3 {
                width: 50%;
                padding-right: 20px;
                text-align: right;
                color : $color-main;
                size: 18px;
                font-weight: 500;
                line-height: 142.6%;
            }
            img {
                width: 64px;
                border-radius: 50%;
            }
        }
        
        .review {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            width: 200px;
            height: 40px;

            @media screen and (max-width: 768px) {
                justify-content: start;
                align-items: center;
                width: auto;
              }
    
            .star {
                width: 28px;
                height: 28px;
            }
        }
    }
}

.locationDescription {

    margin-top: 30px;
    display: flex;
    gap : 20px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap:0;
      }

    .collapse {
        @media screen and (max-width: 768px) {
            width: 100%;
          }
    }
}