@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 100px;
  height: 100%;
  font-family: Montesrrat;
}

#root {
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  margin: 45px 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 200px;
}
.header ul {
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.header ul a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}
.header ul .nav-active {
  text-decoration-line: underline;
}

.footer {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer img {
  width: 120px;
  height: 40px;
}
.footer p {
  color: #fff;
}

.home {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.about_section {
  margin-top: 30px;
}
.about_section .accordion {
  margin: 20px 0;
}

.informations {
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
}
.informations .infoLocation h2 {
  margin: 5px 0;
  font-weight: 500;
  color: #FF6060;
  size: 36px;
}
.informations .infoLocation h3 {
  size: 18px;
  font-weight: 500;
}
.informations .infoLocation .tagContainer {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.informations .infoLocation .tagContainer .tag {
  background-color: #FF6060;
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  size: 18px;
  font-weight: 800;
}
.informations .profil .host {
  display: flex;
}
.informations .profil .host h3 {
  color: #FF6060;
  size: 18px;
  font-weight: 500;
}
.informations .profil .host img {
  width: 64px;
  border-radius: 50%;
}
.informations .profil .review {
  width: 200px;
  height: 40px;
}
.informations .profil .review .star {
  width: 28px;
  height: 28px;
}

.locationDescription {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.page404 {
  margin: 140px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 140px;
}
.page404 h2 {
  font-size: 300px;
  font-weight: bold;
  color: #FF6060;
}
.page404 p {
  font-size: 36px;
  font-weight: medium;
  color: #FF6060;
}
.page404 .backHome {
  color: #000;
  text-decoration-line: underline;
}

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  margin: auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
.banner img {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  width: 100%;
  margin: 30px 0;
  padding: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.gallery__element {
  width: 100%;
  height: 340px;
  position: relative;
}
.gallery__element img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__element h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  padding: 20px 50px 20px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.collapse {
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
  width: 85%;
}
@media screen and (max-width: 768px) {
  .collapse {
    width: 100%;
  }
}
.collapse .head {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .collapse .head {
    height: 30px;
  }
}
.collapse .head h3 {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}
.collapse .head .arrow {
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.4s ease;
  height: 24px;
  width: 24px;
}
@media screen and (max-width: 768px) {
  .collapse .head .arrow {
    height: 18px;
    width: 18px;
  }
}
.collapse .head .arrow.down {
  transform: rotate(-180deg);
}
.collapse .content {
  background-color: #f6f6f6;
  margin: 0;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  transform: translateY(-50px);
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.6s ease-in-out;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .collapse .content {
    font-size: 14px;
  }
}
.collapse .content.animate {
  opacity: 1;
  transform: translateY(0px);
  height: -moz-max-content;
  height: max-content;
}

.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
}
.carrousel .currentSlide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carrousel .arrowLeft {
  position: absolute;
  height: 120px;
  left: 20px;
  top: auto;
}/*# sourceMappingURL=index.css.map */