@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  font-family: Montesrrat;
}

#root {
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  margin: 45px auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .header {
    margin: 20px;
  }
}
.header img {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .header img {
    width: 120px;
  }
}
.header ul {
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: end;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .header ul {
    justify-content: space-around;
    width: 100%;
  }
}
.header ul a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header ul a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
  }
}
.header ul .nav-active {
  text-decoration-line: underline;
}

.footer {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
}
.footer img {
  width: 120px;
  height: 40px;
}
.footer p {
  color: #fff;
}

.home {
  max-width: 1240px;
  min-height: 100%;
  margin: auto;
}
@media screen and (max-width: 1240px) {
  .home {
    margin: 20px;
  }
}

.about {
  max-width: 1240px;
  margin: 0 20px;
}
.about .about_section {
  margin-top: 30px;
}

.locationContainer {
  max-width: 1240px;
  margin: auto;
}
@media screen and (max-width: 1240px) {
  .locationContainer {
    margin: 20px;
  }
}

.informations {
  font-family: Montserrat;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .informations {
    flex-direction: column;
  }
}
.informations .infoLocation h2 {
  margin: 5px 0;
  font-weight: 500;
  color: #FF6060;
  size: 36px;
}
.informations .infoLocation h3 {
  size: 18px;
  font-weight: 500;
}
.informations .infoLocation .tagContainer {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.informations .infoLocation .tagContainer .tag {
  background-color: #FF6060;
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  size: 18px;
  font-weight: 800;
}
.informations .profil {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .informations .profil {
    margin-top: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.informations .profil .host {
  display: flex;
  justify-content: end;
  align-items: center;
}
.informations .profil .host h3 {
  width: 50%;
  padding-right: 20px;
  text-align: right;
  color: #FF6060;
  size: 18px;
  font-weight: 500;
  line-height: 142.6%;
}
.informations .profil .host img {
  width: 64px;
  border-radius: 50%;
}
.informations .profil .review {
  display: flex;
  justify-content: end;
  gap: 5px;
  width: 200px;
  height: 40px;
}
@media screen and (max-width: 768px) {
  .informations .profil .review {
    justify-content: start;
    width: auto;
  }
}
.informations .profil .review .star {
  width: 28px;
  height: 28px;
}

.locationDescription {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .locationDescription {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .locationDescription .collapse {
    width: 100%;
  }
}

.page404 {
  margin: 140px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 140px;
}
@media screen and (max-width: 768px) {
  .page404 {
    margin: 80px 0;
    gap: 113px;
  }
}
.page404 h2 {
  font-size: 300px;
  font-weight: bold;
  color: #FF6060;
}
@media screen and (max-width: 768px) {
  .page404 h2 {
    font-size: 96px;
  }
}
.page404 p {
  font-size: 36px;
  font-weight: medium;
  color: #FF6060;
}
@media screen and (max-width: 768px) {
  .page404 p {
    text-align: center;
    width: 60%;
    font-size: 18px;
  }
}
.page404 .backHome {
  color: #000;
  text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
  .page404 .backHome {
    font-size: 12px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 120px;
  }
}
.banner img {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 24px;
    justify-content: start;
    padding-left: 20px;
  }
}

.gallery {
  width: 100%;
  margin: 30px 0;
  padding: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 0;
    margin-bottom: 25px;
    background: none;
  }
}
.gallery__element {
  width: 100%;
  height: 340px;
  position: relative;
}
.gallery__element img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__element h2 {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  padding: 20px 50px 30px 20px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.collapse {
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
  width: 85%;
}
@media screen and (max-width: 768px) {
  .collapse {
    width: 100%;
  }
}
.collapse .title {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  height: 52px;
}
.collapse .title h3 {
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .collapse .title h3 {
    font-size: 13px;
  }
}
.collapse .title .arrow {
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.4s ease;
  height: 24px;
  width: 24px;
}
.collapse .title .arrow.down {
  transform: rotate(-180deg);
}
.collapse .content {
  background-color: #f6f6f6;
  margin: 0;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  transform: translateY(-50px);
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.6s ease-in-out;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .collapse .content {
    font-size: 12px;
  }
}
.collapse .content.animate {
  opacity: 1;
  transform: translateY(0px);
  height: -moz-max-content;
  height: max-content;
}

.carrousel {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 450px;
  margin-bottom: 30px;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .carrousel {
    height: 255px;
  }
}
.carrousel .currentSlide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
}
.carrousel .arrowLeft {
  position: absolute;
  height: 100px;
  left: 20px;
  top: 35%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .carrousel .arrowLeft {
    top: 45%;
    height: 24px;
  }
}
.carrousel .arrowRight {
  position: absolute;
  height: 100px;
  right: 20px;
  top: 35%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .carrousel .arrowRight {
    top: 45%;
    height: 24px;
  }
}/*# sourceMappingURL=index.css.map */